
@font-face {
    font-family: Plumb;
    src: local("Lato-Regular"),url(../fonts/PlumbKaz-Regular.ttf) format("ttf"),url(../fonts/PlumbKaz-Regular.ttf) format("ttf");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family:Plumb;src:local("PlumbKaz-Black"),url(../fonts/PlumbKaz-Black.ttf) format("ttf"),url(../fonts/PlumbKaz-Black.ttf) format("ttf");font-weight:400;font-style:italic;font-display:swap
}

@font-face {
    font-family:Plumb;src:local("Plumb-Bold"),url(../fonts/PlumbKaz-Bold.ttf) format("ttf"),url(../fonts/PlumbKaz-Bold.ttf) format("ttf");font-weight:700;font-style:normal;font-display:swap
}
